trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

stages:
- stage: Build
  jobs:
  - job: BuildJob
    pool:
      vmImage: ubuntu-latest
    variables:
      buildConfiguration: 'Release'
      projectPath: 'src/WebApp/WebApp.csproj'
    steps:
    - checkout: self
      fetchDepth: 0

    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '9.x'
      displayName: "Use .NET SDK 9.x"

    - bash: dotnet restore "$(projectPath)"
      displayName: "Restore"

    - bash: dotnet build "$(projectPath)" --configuration "$(buildConfiguration)" --no-restore
      displayName: "Build"

    - bash: dotnet test "$(projectPath)" --configuration "$(buildConfiguration)" --no-build --verbosity normal
      displayName: "Test"

    - bash: dotnet publish "$(projectPath)" --configuration "$(buildConfiguration)" --output "$(Build.ArtifactStagingDirectory)"
      displayName: "Publish"

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'
      displayName: "Publish Artifact (drop)"
