trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: 'Release'

steps:
  - checkout: self
    fetchDepth: 0

  - task: UseDotNet@2
    displayName: "Use .NET SDK"
    inputs:
      packageType: 'sdk'
      version: '8.x'

  - script: dotnet restore
    displayName: "Restore"

  - script: dotnet build --configuration $(buildConfiguration) --no-restore
    displayName: "Build"

  - script: dotnet test --configuration $(buildConfiguration) --no-build --verbosity normal
    displayName: "Test"

  - script: dotnet publish --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
    displayName: "Publish"

  - task: PublishBuildArtifacts@1
    displayName: "Publish Artifact"
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'
